[Unit]
Description=Run letsencrypt certificate refresh

[Service]
Type=oneshot
ExecStart=/usr/bin/dehydrated -c
ExecStartPost=+{{ dehydrated_deploy_script }}
User={{ dehydrated_user }}
Group={{ dehydrated_group }}
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths={{ dehydrated_basedir }}
PrivateTmp=yes
RuntimeDirectory=dehydrated
RuntimeDirectoryPreserve=yes

[Install]
WantedBy=basic.target
