; {{ ansible_managed }}
[{{ php_fpm_pool.name }}]
user = {{ php_fpm_pool.user | default('www-data') }}
group = {{ php_fpm_pool.group | default('www-data') }}

listen = {{ php_fpm_pool_socket_path }}
listen.owner = {{ php_fpm_pool.listen_owner | default(php_fpm_pool.user | default('www-data')) }}
listen.group = {{ php_fpm_pool.listen_group | default('www-data') }}
{% if php_fpm_pool.listen_mode is defined %}
listen.mode = {{ php_fpm_pool.listen_mode }}
{% endif %}

pm = {{ php_fpm_pool.pm|default('dynamic') }}
pm.max_children = {{ php_fpm_pool.pm_max_children | default('5') }}
pm.start_servers = {{ php_fpm_pool.pm_start_servers | default('2') }}
pm.process_idle_timeout = {{ php_fpm_pool.pm_process_idle_timeout | default('10s') }}
pm.min_spare_servers = {{ php_fpm_pool.pm_min_spare_servers | default('1') }}
pm.max_spare_servers = {{ php_fpm_pool.pm_max_spare_servers | default('3') }}
pm.max_requests = {{ php_fpm_pool.pm_max_requests | default('500') }}
{% if php_fpm_pool.php_env is defined %}

{% for key, value in php_fpm_pool.php_env.items() %}
env[{{ key }}] = {{ value }}
{% endfor %}
{% endif %}
{% if php_fpm_pool.php_value is defined %}

{% for key, value in php_fpm_pool.php_value.items() %}
php_value[{{ key }}] = {{ value }}
{% endfor %}
{% endif %}
{% if php_fpm_pool.php_flag is defined %}

{% for key, value in php_fpm_pool.php_flag.items() %}
php_flag[{{ key }}] = {{ 'on' if value else 'off' }}
{% endfor %}
{% endif %}
{% if php_fpm_pool.php_admin_value is defined %}

{% for key, value in php_fpm_pool.php_admin_value.items() %}
php_admin_value[{{ key }}] = {{ value }}
{% endfor %}
{% endif %}
{% if php_fpm_pool.php_admin_flag is defined %}

{% for key, value in php_fpm_pool.php_admin_flag.items() %}
php_admin_flag[{{ key }}] = {{ 'on' if value else 'off' }}
{% endfor %}
{% endif %}
