[uwsgi]
master = True
manage-script-name = True

die-on-term = True

{% if uwsgi_app.python is defined %}
plugins = 0:python3
chdir = {{ uwsgi_user.home }}{% if uwsgi_app.python.project_folder is defined %}/{{ uwsgi_app.python.project_folder }}
{% endif %}

virtualenv = {{ uwsgi_venv_path }}
{% if uwsgi_app.python.module is defined %}
module = {{ uwsgi_app.python.module }}
{% endif %}
{% if uwsgi_app.python.mount is defined %}
mount = {{ uwsgi_app.python.mount.path }}={{ uwsgi_app.python.mount.package }}:{{ uwsgi_app.python.mount.app_instance }}
{% endif %}
{% endif %}
