#!/usr/bin/env bash
{{ ansible_managed | comment }}

shopt -s nullglob

printf "Triggering updates\n"
for path in /run/dehydrated/*; do
  domain=$(basename $path)
  if [[ -f {{ dehydrated_deploy_hooks_dir }}/"$domain" ]]; then
    printf "Triggering %s\n" "$domain"
    rm -- "$path"
    "{{ dehydrated_deploy_hooks_dir }}/$domain"
  else
	printf "Error, trigger %s not found.\n" "$domain"
  fi
done
